<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fukusuke.print" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FukusukePrint</name>
    <description>Thermal Printing</description>
    <author>Fukusuke</author>

    <content src="index.html" />
    <access origin="*" />

    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />

    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="android-compileSdkVersion" value="35" />
    <preference name="Scheme" value="http" />

    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
